In [103]:
import numpy as np
import pandas as pd
import ast

In [137]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [138]:
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [139]:
movies = movies.merge(credits, on = 'title')

In [140]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [141]:
movies.dropna(inplace=True)

In [142]:
def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [143]:
movies['genres'] = movies['genres'].apply(convert)

In [144]:
movies['keywords'] = movies['keywords'].apply(convert)

In [145]:
def convert3(text):
    counter = 0
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
        counter += 1
    return l

In [146]:
movies['cast'] = movies['cast'].apply(convert3)

In [147]:
def director(text):
    l =[]
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            l.append(i['name'])
    return l

In [148]:
movies['crew'] = movies['crew'].apply(director)

In [149]:
def collapse(l):
    L = []
    for i in l:
        L.append(i.replace(' ', ''))
    return L

In [150]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)

In [151]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[unitedstatesâ€“mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt,...",[RobertRodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[EdwardBurns, KerryBishÃ©, MarshaDietlein, Cait...",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe, GeoffG...",[ScottSmith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[DanielHenney, ElizaCoupe, BillPaxton, AlanRuc...",[DanielHsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman,...","[BrianHerzlinger, JonGunn, BrettWinn]"

In [152]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [153]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [154]:
movies.drop(['cast', 'crew', 'keywords', 'genres'], axis = 1, inplace=True)

In [155]:
movies['tags'] = movies['tags'].apply(lambda x : " ".join(x))

In [156]:
movies

,movie_id,title,overview,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",Following the death of District Attorney Harve...
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","John Carter is a war-weary, former military ca..."
...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...",El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...",A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",Ever since the second grade when he first saw ...

In [157]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [158]:
cv = CountVectorizer(stop_words='english', max_features=5000)

In [159]:
vector = cv.fit_transform(movies['tags']).toarray()

In [172]:
import nltk

In [173]:
from nltk.stem.porter import PorterStemmer

In [174]:
ps = PorterStemmer()

In [175]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ''.join(y)

In [177]:
movies['tags'] = movies['tags'].apply(stem)

In [223]:
def recommeneded(movie):
    indx = movies[movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[indx])), reverse=True, key = lambda x : x[1])
    for i in distances[2:7]:
        print(movies.iloc[i[0]].title)

In [224]:
recommeneded('Newlyweds')

Whale Rider
Soul Men
How to Fall in Love
Mad Hot Ballroom
The Greatest Game Ever Played

In [220]:
movies

,movie_id,title,overview,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Inthe22ndcentury,aparaplegmarinisdispatchtothe..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","captainbarbossa,longbelievtobedead,hacomebackt..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...",Acrypticmessagfrombondâ€™pastsendhimonatrailtoun...
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","followthedeathofdistrictattorneyharveydent,bat..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","johncarterisawar-weary,formermilitaricaptainwh..."
...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...",Elmariachijustwanttoplayhiguitarandcarrionthef...
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...",Anewlywcouple'honeymoonisupendbythearrivofthei...
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","""signed,sealed,delivered""introducadedicquartet..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",whenambitinewyorkattorneysamissenttoshanghaion...
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",eversincthesecondgradewhenhefirstsawherine.t.t...